# Server
PORT=4000
NODE_ENV=development

# CORS — frontend origin
CLIENT_ORIGIN=http://localhost:3000

# PostgreSQL connection
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=easy_ielts

# JWT
JWT_SECRET=replace_me_with_a_long_random_secret
JWT_EXPIRES_IN=7d
COOKIE_NAME=eielts_token

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
